<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xmlns="http://xmlns.jcp.org/xml/ns/javaee"
			xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
								http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
			id="WebApp_ID" version="3.1">

<!-- 定义Spring MVC 的前端控制器 -->
<servlet>
<!-- Servlet 的名称 -->
<servlet-name>springmvc</servlet-name>
<!-- Servlet 对应的java类 -->
<servlet-class>
org.springframework.web.servlet.DispatcherServlet
</servlet-class>
<!-- 当前Servlet的参数信息 -->
<init-param>
	<!-- contextConfigLocation 是参数名称，该参数的值包含SpringMVC的配置文件路径	 -->
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/springmvc-config.xml</param-value>
</init-param>
<!-- 在web应用启动时立即加载Servlet -->
<load-on-startup>1</load-on-startup>
</servlet>
<!-- Servlet的映射声明 -->
<servlet-mapping>
	<!-- 请求对应的Servlet的名称 -->
	<servlet-name>springmvc</servlet-name>
	<!-- 监听当前域的所有请求 -->
	<url-pattern>/</url-pattern>
</servlet-mapping>

    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>/WEB-INF/classes/log4j2.xml</param-value>
    </context-param>
    <listener>
       <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>
    
    <filter>
       <filter-name>log4jFilter</filter-name>
       <filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
    </filter>
    <filter-mapping>
       <filter-name>log4jFilter</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>